*{
    margin:0px;
    padding: 0px;
    font-family: "Open Sans";
}
.dark01{
    color: #181818;
}
.dark02{
   color: #474747;
}
.title{
    font-size: 45px;
font-style: normal;
font-weight: 800;
}
.word{
    color: #FD6E0A;
    font-size: 45px;
    font-style: normal;
    font-weight: 80
}
nav{
    margin:51px 226px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display:flex;
    align-items: center;
    gap:30px;
list-style: none;
}
nav ul a{
    color: #474747;
    text-decoration:none;
}
.btn-primary{
   text-align:center;
    background-color: #FD6E0A;
    color:white;
    border:none;
    border-radius: 5px;
    padding:18px 36px
    
}
.container{
    background-color: #FFF8F3;
    background-image: url("assets/developer.png"),url("assets/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;
 padding-top:50px;
 margin-bottom: 130px;
}

    
.writing-container{
  display:flex;
  justify-content: space-between;
align-items: center;
 

}
.writings{
   
    margin:200px 200px;
}
.img-container{
    width: 584px;
height: 676px;
 
}
.header1{
    font-size: 45px;
font-style: normal;
font-weight: 600;

}
.header2{
    font-size: 85px;
font-style: normal;
font-weight: 700;

}
.para1{
    font-size: 18px;
font-style: normal;
font-weight: 400;
}
.btn-secondary{
  margin-left: 30px;
    text-align:center;
    color : #FD6E0A;
   background-color:white;
    border:none;
    border-radius: 5px;
    border: 1px solid; 
    padding:18px 36px
}
main{
   
    margin: 0px auto;
    margin: 230px 130px;
}
.container2{
    
 border: 1px solid #FFF8F3;
    background-color:#FFF8F3 ;

 border-radius: 5px;
 margin-bottom: 130px;
}
.container2-inside{
    margin: 156px 131px;

background-color: #fff;
}
.container2-heading{
text-align:center;
font-size: 35px;
font-style: normal;
font-weight: 700;
margin-bottom: 30px;
}
.container2-para{
    text-align: center;
    margin: 0px auto;
    max-width: 827px;
    font-size: 18px;
font-style: normal;
font-weight: 400;
margin-bottom: 30px;

}
.container2-cards{
    display: flex;
    justify-content: space-around;
}
.container2-head{
    text-align: center;
}

.skill-header{
    text-align: center;
    font-size: 35px;
font-style: normal;
font-weight: 700;
margin-bottom: 30px;
}
.skill-para{
    color:#757575;
    margin: 0px auto;
    max-width: 909px;
    text-align: center;
    font-size: 18px;
font-style: normal;
font-weight: 400;
margin-bottom: 50px;
}
.skill-container{
    display: flex;
    justify-content: space-around;
}
.skill-card{
    max-width:201px;
    padding: 30px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}